<div class="row container">
   <mat-card class="card col-md-4">
        <mat-card-header>
          <mat-card-title>Infected</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{totalInfected}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card col-md-4">
            <mat-card-header>
              <mat-card-title>Recovered</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{totalRecovered}}</p>
            </mat-card-content>
    </mat-card>

    <mat-card class="card col-md-4">
            <mat-card-header>
              <mat-card-title>Deaths</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{totalDeaths}}</p>
            </mat-card-content>
    </mat-card>
</div>
  